<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <button ion-button clear="true" full="true" item-right icon-left>
    <ion-title>{{uiLabelMap.APIRegister}}</ion-title>
    <ion-icon class="icon-right" name="create"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label floating>{{uiLabelMap.APIEmail}}</ion-label>
      <ion-input type="email" [(ngModel)]="input.email" name="email"></ion-input>
    </ion-item>
    <ion-item>
      <button ion-button full large (click)="register()">{{uiLabelMap.APISendRegisterCode}}</button>
    </ion-item>
  </ion-list>
</ion-content>
