<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <button ion-button clear="true" full="true" item-right icon-left>
      <ion-title>{{uiLabelMap.APIHome}}</ion-title>
      <ion-icon class="icon-right" name="home"></ion-icon>
          <ion-icon class="icon-right" name="">  </ion-icon>
      <ion-icon class="icon-right" name="">  </ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card>
      <ion-card-content>
          <ion-grid>
              <ion-row>
                  <ion-col col-4></ion-col>
                  <ion-col col-4>
                    <img src="assets/imgs/splash.svg"/>
                  </ion-col>
                  <ion-col col-4></ion-col>
              </ion-row>
            </ion-grid>
            <h3>Welcome to App Example!</h3>
        <p>By: Mymemo Limited Partnership</p>
        <p>Email: admin@mymemoapps.com</p>
      </ion-card-content>
    </ion-card>
</ion-content>
