<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list inset>
      <button ion-item item-right icon-left *ngFor="let p of pages" (click)="openPage(p)" [hidden]="!p.visible">
        <ion-icon class="icon-right" name="{{p.icon}}"></ion-icon>    {{p.title}}
      </button>
      <ion-item item-right icon-left>
          <ion-icon class="icon-right" name="flag"></ion-icon>    {{uiLabelMap != null ? uiLabelMap.APILanguage : ""}}
      </ion-item>
    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col col-3></ion-col>
        <ion-col col-3 *ngFor="let lang of languageList">
            <ion-icon class="flag-icon flag-icon-squared flag-icon-{{lang.language}} {{lang.selected}}" (click)="setLanguage(lang.language)"></ion-icon>
        </ion-col>
        <ion-col col-3></ion-col>
      </ion-row>
    </ion-grid>
      
  </ion-content>


</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>